/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Bootstrap Font*/
body {
	font-family: "Roboto", sans-serif;
}

nav {
    padding: 3px;
    padding-left: 8%;
    padding-right: 8%;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
}

nav .nav-logo {
    margin: 0.5rem;
    display: inline;
/*    text-align: right;*/

}

/*===============landing page section===============*/
#bg-image1 {
    background-image: url("./images/bg_office1.jpg");
    min-height: 60vh;
    background-repeat : no-repeat;
    background-size: cover;
    background-position: 75% 50%;
    background-attachment: scroll;
    display: absolute;
    opacity: 90%;
}

#bg-image2 {
    background-image: url("./images/bg_office2.jpg");
    min-height: 60vh;
    background-repeat : no-repeat;
    background-size: cover;
    background-position: 75% 50%;
    background-attachment: scroll;
    display: absolute;
    opacity: 90%;
}

#bg-image3 {
    background-image: url("./images/bg_office3.jpg");
    min-height: 60vh;
    background-repeat : no-repeat;
    background-size: cover;
    background-position: 75% 50%;
    background-attachment: scroll;
    display: absolute;
    opacity: 80%;
}

h1 {
	color: darkred;
}

.front-bg {
    background: rgba(0, 0, 0, 0.5);
    min-height: 45vh;
}

.container {
    
    margin: 0 45rem;
    position: relative;
    width: 40%;
    border-radius: 15px;
}

.title {
    font-family: "Roboto",serif;
    font-size: 2.66rem;
    font-weight: 600;
    text-align: right;
    display: inline-block;
    margin-left: auto;
    color: white;
}

.subtitle {
    font-size: 1.33rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: white;
    text-align: right;
    width: 75%;
    margin-left: auto;
    margin-top: 1em;
}

.apply-button {
    color: white;
    padding: 10px;
    width: 180px;
    text-align: center;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background-color: #c2195b;
    border-color: transparent;
    border-radius: 25px;
    margin-left: 68%;
    margin-top: 1rem;
    box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
}

/*===============pre-footer section===============*/
.pre-footer {
    background-color: #f7fbfb;
    text-align: center;
    min-height: 50vh;
    padding-top: 20px;

}

.prefooter-description {
    text-align: center;
    margin: 0 5rem;
    font-weight: 300;
    padding: 0 10%;
}

.book-button {
    color: white;
    padding: 10px;
    width: 180px;
    text-align: center;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    background-color: #336589;
    border-color: transparent;
    border-radius: 25px;
    margin-left: 0%;
    margin-top: 1rem;
    box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
}

#pre-footer2 {
    background-color: #002540;

}

#pre-footer2 h4 {
    color: white;
}

#pre-footer2 p {
    color: white;
}

#pre-footer2 div {
    padding-top: 2rem;
    padding-bottom: 3rem;
    /*padding-left: 1rem;
    padding-right: 1rem;*/
    display: inline-block;
    vertical-align: top;
    min-height: 175px;
    width: 20%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/*===============footer section===============*/
footer {
    padding: 0.7rem;
    text-align: center;
}

footer span {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    /*margin: 0 0.5rem;*/
    font-weight: 300;
}
